.get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
    color: #333;

    &__header {
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            font-size: 2.5rem;
            color: #004466;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
        max-width: 1200px;
        width: 100%;
        margin-bottom: 2rem;

        &__contact,
        &__connect {
            flex: 1;
            padding: 1.5rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
            max-width: 500px;

            h3 {
                font-size: 1.8rem;
                color: #006699;
                margin-bottom: 1rem;
            }

            ul {
               
                padding: 0;

                li {
                    list-style: none; 
                    margin-bottom: 1rem;

                    p {
                        margin: 0.5rem 0;
                        line-height: 1.6;
                        font-size: 1rem;
                        color: #555;

                        strong {
                            color: #333;
                        }
                    }
                }
            }
        }
    }

    .map-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1.5rem;
        margin-top: 2rem;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

        iframe {
            width: 100%;
            max-width: 750px;
            height: 450px;
            border: 0;
            border-radius: 8px;
        }
    }
}
